/* Selector for the navbar */
.navbar {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  z-index: 10;
  text-align: center;
}

/* Selector for the navbar elements */
.navbar-element {
  width: 20px;
  height: 20px;
  margin: 12px;
  font-family: helvetica, arial, sans-serif;
}

/* Selector for the navbar elements when the user hovers on it */
.navbar-element:hover {
  background-color: #eee;
  cursor: pointer;
}

/* Selector for the main logo */
.main-logo {
  height: 28px;
  margin: 8px auto;
  width: 194px;
}

/* Selector for the main logo when the user hovers on it */
.main-logo:hover {
  background-color: white;
  cursor: pointer;
}

/* Selector for the left navbar container */
.left-navbar-container {
  float: left;
}

/* Selector for the links inside the navbar */
nav a:link {
  position: relative;
  bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 14px;
}

/* Selector for the links inside the navbar when the user hovers on it */
nav a:link:hover {
  text-decoration: underline;
  background: white;
}

/* Selector for the container for the buttons inside the navbar */
.right-button-container {
  float: right;
}

/* Selector for the buttons of the navbar */
.navbar-button {
  width: 64px;
  height: 32px;
  text-transform: uppercase;
  margin: 6px 18px 6px 0;
  color: white;
  background: #6288a5;
  border: 1px solid #326891;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
}

/* Selector for the subscribe now button */
.subscribe-button {
  left: 4px;
  margin: 6px 8px;
  position: relative;
  width: 120px;
}

/* Selector for the buttons of the navbar when the user hovers on */
.navbar-button:hover {
  background-color: #6288a5;
}

/* Selector for the main section which contains all elements below navbar */
.container {
  width: 946px;
  margin: 44px auto 0 auto;
  height: 1200px;
}

/* Selector for the spans inside h1 */
.post-title {
  font-size: 38px;
  display: block;
  font-style: italic;
  font-weight: 500;
  font-family: georgia,'times new roman',times,serif;
  margin-left: 173px;
  letter-spacing: -1px;
}

/* Selector for the main image */
.main-image {
  width: 946px;
  margin-top: 4px;
}

/* Selector for the container which contains the information about the pic */
.photo-information-container {
  width: 704px;
}

/* Selector for the span tag which containis photo information */
.photo-information {
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

/* Selector for the information about the post author */
.pic-author {
  display: block;
  font-size: 12px;
  color: #888;
}

/* Selector for the pos/ Top container inside container  */ .post-container {
  margin-top: 40px;
}

/* Selector for the post author's name */
.post-author {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

/* Selector for the div which contains the main post */
.post {
  margin-top: 20px;
}

/* selector for the time which contains the post date */
.post-date {
  float: left;
  margin-top: 20px;
  font-size: 12px;
  font-weight: lighter;
  color: #333;
}

/* Selector for the div containing the main post's icons */
.post-icons {
  display: inline;
  float: right;
}

/* Selector for the icons  */
span i {
  width: 18px;
  margin: 0 20px;
}

span i:hover {
  cursor: pointer;
}

.post-text-container p {
  font-size: 18px;
  clear: both;
}

.post-text-container {
  position: relative;
  top: 60px;
  width: 610px;
  margin: 0 auto;
}
